*{
    margin:0px;
    padding:0px;
}
body{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-content: center;
}

.container0{
    height:550px;
    width:500px;
    background-color: rgb(241, 239, 238);

    
    

}
.container1{
    height:40px;
    background-color:#13294B;
    text-align: center;
    color:white;
    padding-top:5px;
    margin-top:20px;
   
    
    
}

.container2,.container3,.container4,.container5,.container6,.container7,.container8,.container9,.container10,.container11{
    padding-left:40px;
    font-weight: 400px;
}

.container12{
    padding-left:110px;
}
.container12 input:hover{
    background-color: #25AAE1;
}
